header {
  background-color: var(--medium);
  padding: 1em 0;
}

nav {
  width: 80%;
  margin: 0 auto;
  max-width: 1100px;
}

.nav__list {
  display: flex;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.nav__item {
  margin-right: 1em;
  color: #fff;
  text-transform: uppercase;
}

.nav__link--button {
  background-color: #fff;
  color: var(--medium);
  padding: 0.5em 1em;
  border-radius: 50px;
}
